# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Temp files
*.tmp

# IDE
.vscode/
.idea/

/target/


src/main/webapp/config/email_config.jsp
src/main/webapp/config/cloudinary_config.jsp